$color-primary: #4df;
$color-secondary: #52f;

$font-primary: 1rem;
$font-secondary: 0.5rem;

$transition-button: scale 0.5s;

h1 {
  color: $color-primary;
  font-size: $font-primary;
}

h2 {
  color: $color-secondary;
  font-size: $font-secondary;
}

h3 {
  color: $color-secondary;
  font-size: $font-primary;
}

button {
  transition: $transition-button;
  font-size: $font-primary;

  &:hover {
    scale: 1.2;
  }
}